body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:250px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:306px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:306px;
}
#u1 {
  position:absolute;
  left:2px;
  top:145px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2 {
  position:absolute;
  left:0px;
  top:259px;
  width:250px;
  height:47px;
  font-size:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:246px;
  word-wrap:break-word;
}
